[workspace]
resolver = "2"
members = ["crates/*", ]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT OR Apache-2.0"
repository = "https://github.com/voxell-tech/velyst"
readme = "README.md"

[workspace.dependencies]
# Bevy dependencies
bevy = { version = "0.15.2", default-features = false }
bevy_vello = "0.7.1"
# Typst dependencies
typst = "0.13.1"
typst-eval = "0.13.1"
typst-layout = "0.13.1"
typst-assets = "0.13.1"
comemo = "0.4" # in sync with typst
unicode-math-class = "0.1" # in sync with typst
# Common dependencies
ecow = { version = "0.2", features = ["serde"] }
thiserror = "1"
smallvec = "1"

[workspace.lints.clippy]
redundant_type_annotations = "warn"
bool_comparison = "allow"

[package]
name = "velyst"
description = "A Typst integration for Vello and Bevy."
exclude = ["/assets/", "/.github/", "/examples/"]
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
# Local dependencies
typst_element = { path = "crates/typst_element", version = "0.1.0" }
typst_vello = { path = "crates/typst_vello", version = "0.1.0" }
velyst_macros = { path = "crates/velyst_macros", version = "0.1.0" }

bevy = { workspace = true }
bevy_vello = { workspace = true }
typst = { workspace = true }
typst-eval = { workspace = true }
typst-layout = { workspace = true }
typst-assets = { workspace = true, optional = true }
comemo = { workspace = true }
chrono = { version = "0.4.24", default-features = false, features = ["clock", "std"] }
ecow = { workspace = true }
thiserror = { workspace = true }
smallvec = { workspace = true }

[features]
default = ["embed-fonts"]
embed-fonts = ["dep:typst-assets"]

[dev-dependencies]
bevy = { workspace = true, features = ["file_watcher"] }
bevy_vello = { workspace = true, features = ["svg"] }

[lints]
workspace = true

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3
